* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --blue: #008bff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  background-color: #ffffff21;
  color: white;
  border-radius: 12px;
  padding: 16px;
  max-width: 400px;
}

.card h1 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

.profile .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid var(--blue);
}

.card .btn_action {
  padding: 8px 10px;
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 1px solid var(--blue);
  font-size: 16px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.card .btn_action span {
  margin-left: 8px;
}

.card .btn_action:hover {
  background: var(--blue);
  border: 1px solid white;
  transform: scale(1.1);
}

.bg_content {
  background: #2927278f;
}

.rd_12 {
  border-radius: 12px;
}

.p_8 {
  padding: 8px;
}

.card-body {
  min-width: 300;
}

.highlight {
  color: var(--blue);
  font-weight: 600;
}
